{% extends 'common/base.html' %}
{% block content %}
    <div class="contentBox">
        <div class="infoBox">
            <div class="infoDetail">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">게시글 제목</h5>
                        <small class="text-muted">얼마나 지났는지</small>
                    </div>
                    <p class="mb-1">게시글 내용 (글자수제한 및 ...)</p>
                    <small class="text-muted">게시일자</small>
                </a>
            </div>
            <div class="infoDetail">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">게시글 제목</h5>
                        <small class="text-muted">얼마나 지났는지</small>
                    </div>
                    <p class="mb-1">게시글 내용 (글자수제한 및 ...)</p>
                    <small class="text-muted">게시일자</small>
                </a>
            </div>
            <div class="infoDetail">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">게시글 제목</h5>
                        <small class="text-muted">얼마나 지났는지</small>
                    </div>
                    <p class="mb-1 infoText">
                        게시글 내용
                    </p>
                    <small class="text-muted">게시일자</small>
                </a>
            </div>
        </div>
    </div>
    <div class="pageNavi">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}